{% extends "base.html" %}
{% load wagtailcore_tags head %}
{% load wagtailcore_tags footer %}
{% load static %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/review_form.js' %}"></script>
{% endblock extra_js %}

{% block content %}
{% comment %} {% head %} {% endcomment %}

{% for user in reviews %}
    {% if user.is_active %}
        {{ user.name }}
        {{ user.age }}
        {{ user.review }}
    {% endif %}
{% endfor %}

<form id="review-form" name="review-form">{% csrf_token %}
    <input type="name" name="name">
    <input type="age" name="age">
    <textarea name="review" cols="30" rows="10"></textarea>
    <button class="template-btn">Отправить</button>
</form>

{% comment %} {% footer %} {% endcomment %}
{% endblock content %}
