{% extends "base.html" %}
{% load wagtailcore_tags head %}
{% load wagtailcore_tags footer %}
{% load static %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/review_form.js' %}"></script>
{% endblock extra_js %}

{% block content %}
{% head %}
<section class="second-banner other-page" style="background-image: url('{% static 'images/second-banner.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ page.title }}</h1>
                <a href="/">Главная</a> <span>|</span> <a href="{{ page.url }}">{{ page.title }}</a>
            </div>
        </div>
    </div>
</section>

<section class="students-area section-padding-both" id="reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h2>Что говорят о нас</h2>
                    <p>Оставить свой отзыв вы можете в конце этой страницы!</p>
                </div>
            </div>
        </div>
        <div class="row section-padding-bottom">
            {% for user in reviews %}
            {% if user.is_active %}
            <div class="col-md-6">
                <div class="single-student text-center">
                    <h3>{{ user.name }}</h3>
                    <h4>{{ user.age }}</h4>
                    <p class="pt-3">{{ user.review }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>          
    </div>
</section>

<section class="students-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h2>Оставить отзыв об автошколе</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 align-self-center">
                <div class="appointment-form text-center mt-5 mt-lg-0">
                    <h3 class="mb-5">Оставить отзыв</h3>
                    <form id="review-form" name="review-form">{% csrf_token %}
                        <div class="form-group">
                            <input name="name" type="text" placeholder="Ваше имя и фамилия" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше имя и фамилия'" required>
                        </div>
                        <div class="form-group">
                            <input name="age" type="number" placeholder="Ваш возраст" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваш возраст'" required> 
                        </div>
                        <div class="form-group">
                            <textarea name="review" cols="20" rows="7"  placeholder="Ваш отзыв" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваш отзыв'" required></textarea>
                        </div>
                        <button class="template-btn">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% footer %}
{% endblock content %}
