{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

<section class="feature-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h2>{{ page.feature_title_text }}</h2>
                    {{ page.feature_mini_description|richtext }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding">
                    <img src="{% static 'images/icons/index/bonuses.svg' %}" alt="Первое преимущество" width="95">
                    <h3>Бонусы <br />учащимся</h3>
                    <p class="pt-3">Скидка в размере 10% от общей стоимости обучения для школьников и студентов - отличный бонус для вас!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-md-0">
                    <img src="{% static 'images/icons/index/experience.svg' %}" alt="Второе преимущество" width="95">
                    <h3>Преподавательский опыт</h3>
                    <p class="pt-3">Наши инструктора имеют большой стаж работы с учениками в сфере обучения вождению.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                    <img src="{% static 'images/icons/index/high-lvl.svg' %}" alt="Третье преимущество" width="95">
                    <h3>Высокий уровень сдачи экзаменов</h3>
                    <p class="pt-3">Наличие внутреннего экзамена в нашей автошколе гарантирует сдачу экзамена в ГИБДД.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                    <img src="{% static 'images/icons/index/best-conditions.svg' %}" alt="Четвертое преимущество" width="95">
                    <h3>Отличные условия для обучения</h3>
                    <p class="pt-3">4 автомобиля, современно оборудованный класс, отзывчивые инструктора - все это в ваших руках!</p>
                </div>
            </div>
        </div>
    </div>
</section>