{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<section class="students-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h2>{{ page.what_they_say_about_us_title }}</h2>
                    {{ page.what_they_say_about_us_description|richtext }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="single-student mb-4 text-center">
                    {% image page.first_feedback_image max-102x104 as img_first %}
                    <img src="{{ img_first.url }}" alt="">
                    <h3>{{ page.first_feedback_name }}</h3>
                    {{ page.first_feedback_description|richtext }}
                </div>
                <div class="single-student text-center">
                    {% image page.second_feedback_image max-102x104 as img_second %}
                    <img src="{{ img_second.url }}" alt="">
                    <h3>{{ page.second_feedback_name }}</h3>
                    {{ page.second_feedback_description|richtext }}
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 align-self-center">
                <div class="appointment-form text-center mt-5 mt-lg-0">
                    <h3 class="mb-5">Связаться с нами</h3>
                    <form id="feedback-form1" name="feedback-form1">{% csrf_token %}
                        <div class="form-group">
                            <input name="name" type="text" placeholder="Ваше имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше имя'" required>
                        </div>
                        <div class="form-group">
                            <input name="email" type="email" placeholder="Ваш Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваш Email'" required> 
                        </div>
                        <div class="form-group">
                            <input name="date" type="text" id="datepicker" placeholder="Назначить дату" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Назначить дату'" required>
                        </div>
                        <div class="form-group">
                            <textarea name="message" cols="20" rows="7"  placeholder="Ваше сообщение" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше сообщение'" required></textarea>
                        </div>
                        <button class="template-btn">связаться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>