{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<section class="students-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-top text-center">
                    <h2>{{ page.what_they_say_about_us_title }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 align-self-center">
                <div class="appointment-form text-center mt-5 mt-lg-0">
                    <h3 class="mb-5">Связаться с нами</h3>
                    <form id="feedback-form1" name="feedback-form1">{% csrf_token %}
                        <div class="form-group">
                            <input name="name" type="text" placeholder="Ваше имя" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше имя'" required>
                        </div>
                        <div class="form-group">
                            <input name="email" type="email" placeholder="Ваш Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваш Email'" required> 
                        </div>
                        <div class="form-group">
                            <input name="phone" type="phone" placeholder="Ваш мобильный телефон" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваш мобильный телефон'" required> 
                        </div>
                        <div class="form-group">
                            <textarea name="message" cols="20" rows="7"  placeholder="Ваше сообщение" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ваше сообщение'" required></textarea>
                        </div>
                        <button class="template-btn">связаться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>